<article class="content project">
  
<div class="row">
  <div class="small-12 columns">
  <a href="http://coffeefriends.herokuapp.com/"><h1>Coffee Friends</h1></a>
  <a href="https://github.com/jchai002/coffee-friends">{Click for Source Code}</a>
  <br>
  <p>A web application that allows people to buy coffee for friends. There is also a built in charity feature that let people buy coffee for strangers who may not be able to afford it. This application was developed with a team of four in six days using the Rails framework.</p>
  </div>
  <div class="small-12 columns">
  <%=link_to(image_tag("coffeefriends.png"), "http://coffeefriends.herokuapp.com/")%>
  </div>
</div>
<hr>
<div class="row">
  <div class="small-12 columns">
  <a href="http://orders.sleepdreamland.com/"><h1>Dreamland Order Taker</h1></a>
  <a href="https://github.com/jchai002/DreamlandOrderTaker">{Click for Source Code}</a>
  <br>
  <p>This application allows retail distributors to place orders on Dreamland products. The products are search-able, and the selection filters down with every key stroke via AJAX. Upon an order status change (placement, modification, shipment, or cancellation), text notifications are sent to both the distribution manager and the customer.</p>
  </div>
  <div class="small-12 columns">
  <%=link_to(image_tag("orders.png"), "http://orders.sleepdreamland.com/")%>
  </div>
</div>
<hr>
<div class="row">
  <div class="small-12 columns">
  <a href="https://edelweiss.herokuapp.com/"><h1>Edelweiss Music</h1></a>
  <a href="https://github.com/jchai002/Edelweiss">{Click for Source Code}</a>
  <br>
  <p>This is the official website for the band Edelweiss. It gives full CRUD access to the band members, allowing them to upload and manage their media content. It integrates with the MailChimp API for mailing list management. This is a solo project built on the Rails framework.</p>
  </div>
  <div class="small-12 columns">
  <%=link_to(image_tag("edelweiss.png"),"https://edelweiss.herokuapp.com/")%>
  </div>
</div>
<hr>
<div class="row">
  <div class="small-12 columns">
  <a href="https://jonathanfrey.herokuapp.com/"><h1>Jonathan Frey Photography</h1></a>
  <a href="https://github.com/jchai002/jonathan-frey-photography">{Click for Source Code}</a>
  <br>
  <p>A photography and film portfolio for my friend Jonathan Frey. This is one page app with a focus on front end design and user experience. This is a solo project.</p>
  </div>
  <div class="small-12 columns">
  <%=link_to(image_tag("frey.png"),"https://jonathanfrey.herokuapp.com/")%>
  </div>
</div>
<hr>
  <div class="small-12 columns">
  <a href="http://lunchrandomly.herokuapp.com/"><h1>Lunch Roulette</h1></a>
  <a href="https://github.com/jchai002/lunch-roulette">{Click for Source Code}</a>
  <br>
  <p>This app takes away the decision fatigue from choosing a lunch spot. Users only have to pick the distance they are willing to travel and a minimum yelp rating, and the app will select a random restaurant that fits the criteria. This app uses the yelp api and the google maps api.a</p>
  </div>
  <div class="small-12 columns">
  <%=link_to(image_tag("lunch.png"),"http://lunchrandomly.herokuapp.com/")%>
  </div>
</div>
<hr>
<div class="row">
  <div class="small-12 columns">
  <a href="https://www.sleepdreamland.com/"><h1>Dreamland Business Website</h1></a>
  <a href="https://github.com/jchai002/Dreamlandd-Mattress">{Click for Source Code}</a>
  <br>
  <p>This is the official business website for Dreamland Mattress, where I am an part time I.T. consultant. It was built with the static page serving framework Jekyll, and deployed on AWS s3. Because many of Dreamland's customers are Chinese, I designed this website with bilingual support. The content can be switched freely between English and Chinese by clicking the language options in the navigation bar.</p>
  </div>
  <div class="small-12 columns">
  <%=link_to(image_tag("dreamland.png"),"https://www.sleepdreamland.com/")%>
  </div>
</div>
<hr>
<div class="row">
  <div class="small-12 columns">
  <a href="https://chaiteaflashcards.herokuapp.com/"><h1>Flashcards Game</h1></a>
  <a href="https://github.com/jchai002/web-flashcards">{Click for Source Code}</a>
  <br>
  <p>A flashcard game that can be used for memorization exercises. Users can create their own decks or play a deck created by someone else. This app keeps track of statistics on the user profile page. This application was developed with a team of four in three days using the Sinatra Framework.</p>
  </div>
  <div class="small-12 columns">
  <%=link_to(image_tag("flashcard.png"),"https://chaiteaflashcards.herokuapp.com/")%>
  </div>
</div>

  </div>
</article>